<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Tagency</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Aircraft</display-name>
    <servlet-name>Aircraft</servlet-name>
    <servlet-class>com.cs336.pkg.Aircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aircraft</servlet-name>
    <url-pattern>/Aircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Airport</display-name>
    <servlet-name>Airport</servlet-name>
    <servlet-class>com.cs336.pkg.Airport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Airport</servlet-name>
    <url-pattern>/Airport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.cs336.pkg.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAircraft</display-name>
    <servlet-name>AddAircraft</servlet-name>
    <servlet-class>com.cs336.pkg.AddAircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAircraft</servlet-name>
    <url-pattern>/AddAircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirport</display-name>
    <servlet-name>AddAirport</servlet-name>
    <servlet-class>com.cs336.pkg.AddAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirport</servlet-name>
    <url-pattern>/AddAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlight</display-name>
    <servlet-name>DeleteFlight</servlet-name>
    <servlet-class>com.cs336.pkg.DeleteFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlight</servlet-name>
    <url-pattern>/DeleteFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAircraft</display-name>
    <servlet-name>DeleteAircraft</servlet-name>
    <servlet-class>com.cs336.pkg.DeleteAircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAircraft</servlet-name>
    <url-pattern>/DeleteAircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAirport</display-name>
    <servlet-name>DeleteAirport</servlet-name>
    <servlet-class>com.cs336.pkg.DeleteAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAirport</servlet-name>
    <url-pattern>/DeleteAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFlight</display-name>
    <servlet-name>EditFlight</servlet-name>
    <servlet-class>com.cs336.pkg.EditFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFlight</servlet-name>
    <url-pattern>/EditFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAirport</display-name>
    <servlet-name>EditAirport</servlet-name>
    <servlet-class>com.cs336.pkg.EditAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAirport</servlet-name>
    <url-pattern>/EditAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAircraft</display-name>
    <servlet-name>EditAircraft</servlet-name>
    <servlet-class>com.cs336.pkg.EditAircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAircraft</servlet-name>
    <url-pattern>/EditAircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReservation</display-name>
    <servlet-name>EditReservation</servlet-name>
    <servlet-class>com.cs336.pkg.EditReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReservation</servlet-name>
    <url-pattern>/EditReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReservation</display-name>
    <servlet-name>DeleteReservation</servlet-name>
    <servlet-class>com.cs336.pkg.DeleteReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReservation</servlet-name>
    <url-pattern>/DeleteReservation</url-pattern>
  </servlet-mapping>
</web-app>